@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Peddana&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  color: var(--clr-text);
  font-family: Poppins, "sans-serif";
  font-weight: normal;
}

html {
  background: url(../images/outer-space-fantasy-art.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

:root {
  --clr-game-canvas: #031227;
  --clr-text: #faf9f6;
  --clr-btn: #107896;
  --clr-btn-hover: #43abc9;
}

body {
  background-color: #0d1117;
}

button {
  background-color: var(--clr-btn);
  width: 170px;
  height: 60px;
  border: none;
  font-size: 16px;
  color: var(--clr-text);
}

.hover:hover {
  cursor: pointer;
  background-color: var(--clr-btn-hover);
}

.hide {
  display: none;
}

/* Game Bar Area */

.game-bar {
  width: 700px;
  height: 60px;
  background-color: var(--clr-game-canvas);
  border-radius: 20px 20px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.home-icon i {
  color: var(--clr-text);
  font-size: 30px;
  cursor: pointer;
}

.hamburger {
  width: 30px;
  cursor: pointer;
}

.hamburger-line {
  height: 3px;
  background-color: white;
  border-radius: 10px;
  margin-top: 5px;
}

.menu {
  background-color: var(--clr-game-canvas);
  height: 390px;
  width: 700px;
  margin: 0;
  position: absolute;
  top: 56.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0px 0px 20px 20px;
  z-index: 100;
}

.menu button {
  margin: 27px auto;
  display: grid;
  align-items: center;
}

/* Start Game Area */

.start-game-area {
  background-color: var(--clr-game-canvas);
  height: 490px;
  width: 700px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}

.start-main-text {
  margin-top: 20px;
  padding: 30px;
  text-align: center;
}

.start-input-name {
  text-align: center;
  margin-top: 50px;
}

.start-input-name input {
  width: 50%;
  height: 40px;
  background-color: #faf9f6;
  color: black;
}

.start-game-area-btn {
  margin-top: 70px;
  text-align: center;
}

/* difficulty Game Area */

.difficulty-game-area {
  background-color: var(--clr-game-canvas);
  height: 490px;
  width: 700px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}

.difficulty-main-text {
  margin-top: 20px;
  padding: 30px;
  text-align: center;
}

.difficulty-btn {
  display: grid;
}

.difficulty-btn button {
  margin: 10px auto;
}

/* Question Game Area */

.question-game-area {
  background-color: var(--clr-game-canvas);
  height: 490px;
  width: 700px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}

.question-main-text {
  margin-top: 20px;
  text-align: center;
  padding: 0px 30px 30px 30px;
}

.answer-buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.answer-buttons button {
  margin: 0px 80px 30px 80px;
  padding: 5px;
}

.answer-buttons button:hover {
  cursor: pointer;
  outline: 2px solid white;
}

.next-question {
  position: absolute;
  left: 47%;
  top: 55%;
}

.next-question button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.correct {
  background-color: rgb(12, 114, 12);
}

.wrong {
  background-color: rgb(143, 22, 22);
}

/* Lights Section */

.lights-bar {
  display: flex;
  position: absolute;
  bottom: 4%;
  gap: 40px;
  left: 6%;
  margin: 0 auto;
  justify-content: space-evenly;
}

.answer-light {
  filter: grayscale(100%);
}

#mercury img {
  width: 40px;
  height: 40px;
}

#venus img {
  width: 40px;
  height: 40px;
}

#earth img {
  width: 44px;
  height: 40px;
}

#mars img {
  width: 47px;
  height: 40px;
}

#jupiter img {
  width: 40px;
  height: 40px;
}

#saturn img {
  width: 40px;
  height: 40px;
}

#uranus img {
  width: 40px;
  height: 40px;
}

#neptune img {
  width: 40px;
  height: 40px;
}

/* Rules Game Area */

.rules-game-area {
  background-color: var(--clr-game-canvas);
  height: 490px;
  width: 700px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}

.rules-list {
  text-align: center;
  margin-top: 110px;
}

.rules-list li {
  margin-top: 10px;
  list-style-type: none;
}

/* Hiscores Game Area */

.hiscores-game-area {
  background-color: var(--clr-game-canvas);
  height: 490px;
  width: 700px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}

.hiscores-list {
  text-align: center;
  margin-top: 110px;
}

.hiscores-list li {
  margin-top: 10px;
  list-style-type: none;
}

/* Contact Game Area */

.contact-game-area {
  background-color: var(--clr-game-canvas);
  height: 490px;
  width: 700px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}

.contact-form {
  text-align: center;
  margin-top: 150px;
}

/* Results Game Area */

.results-game-area {
  background-color: var(--clr-game-canvas);
  height: 490px;
  width: 700px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}

.results-page {
  text-align: center;
  margin-top: 60px;
}

.results-main-text {
  padding-left: 20px;
  padding-right: 20px;
}

.results-hiscores-btn {
  position: absolute;
  top: 60%;
  right: 37%;
}

#result-score {
  color: lightgreen;
}

.results-page i {
  color: gold;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
  margin-bottom: 30px;
}
