@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");

/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  color: var(--clr-text);
  font-family: Aldrich, "sans-serif";
  font-weight: normal;
}

:root {
  --clr-game-canvas: #1b1c27;
  --clr-text: #f8f8ff;
  --clr-btn: #232145;
  --clr-btn-hover: #0c085a;
}

body {
  background-color: #0d1117;
}

button {
  background-color: var(--clr-btn);
  width: 100px;
  height: 50px;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: var(--clr-btn-hover);
}

.hide {
  display: none;
}

/* Game Bar Area */

.game-bar {
  width: 700px;
  height: 60px;
  background-color: var(--clr-game-canvas);
  border-radius: 20px 20px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.home-icon i {
  color: var(--clr-text);
  font-size: 30px;
  cursor: pointer;
}

/* Start Game Area */

.start-game-area {
  background-color: var(--clr-game-canvas);
  height: 450px;
  width: 700px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}

.start-main-text {
  padding: 30px;
  text-align: center;
}

.start-input-name {
  text-align: center;
  margin-top: 50px;
}

.start-input-name input {
  width: 50%;
  height: 40px;
}

.start-game-area-btn {
  margin-top: 70px;
  text-align: center;
}
