@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Peddana&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 17px;
  color: var(--clr-text);
  font-family: Poppins, "sans-serif";
  font-weight: normal;
}

html {
  background: url(../images/outer-space-fantasy-art.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

:root {
  --clr-game-canvas: #031227;
  --clr-text: #faf9f6;
  --clr-btn: #107896;
  --clr-btn-hover: #43abc9;
}

body {
  background-color: #0d1117;
}

button {
  background-color: var(--clr-btn);
  width: 170px;
  height: 60px;
  border: none;
  font-size: 16px;
  color: var(--clr-text);
  border-radius: 3px;
}

.hover:hover {
  cursor: pointer;
  background-color: var(--clr-btn-hover);
}

.hide {
  display: none;
}

/* Game Bar Area */

.game-bar {
  width: 700px;
  height: 60px;
  background-color: var(--clr-game-canvas);
  border-radius: 20px 20px 0px 0px;
  padding: 20px;
}

.home-icon-logo {
  width: 38px;
  cursor: pointer;
}

.home-icon-logo i {
  color: var(--clr-text);
  font-size: 30px;
}

.audio-icon-logo {
  width: 30px;
  cursor: pointer;
  position: absolute;
  left: 11%;
  top: 4.2%;
}

.sound-on i {
  font-size: 28px;
  position: absolute;
}

.sound-off i {
  font-size: 28px;
}

#timer {
  position: absolute;
  width: 60px;
  right: 30%;
  top: 4%;
  font-size: 20px;
}

.timer-icon {
  font-size: 20px;
  position: absolute;
  right: 30.5%;
  top: 4%;
}

.timer-icon i {
  font-size: 25px;
}

.question-score {
  position: absolute;
  right: 20%;
  top: 4%;
  font-size: 20px;
}

.trophy-icon {
  position: absolute;
  right: 15%;
  top: 4.7%;
}

.trophy-icon i {
  font-size: 22px;
  color: gold;
}

.hamburger {
  width: 30px;
  cursor: pointer;
  position: absolute;
  right: 4%;
  top: 4%;
}

.hamburger-line {
  height: 3px;
  background-color: white;
  border-radius: 10px;
  margin-top: 5px;
}

.cross {
  position: absolute;
  right: 4%;
  top: 3.5%;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.cross:before,
.cross:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: white;
}
.cross:before {
  transform: rotate(45deg);
}
.cross:after {
  transform: rotate(-45deg);
}

.menu {
  background-color: var(--clr-game-canvas);
  height: 390px;
  width: 700px;
  margin: 0;
  position: absolute;
  top: 56.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0px 0px 20px 20px;
  z-index: 100;
}

.menu button {
  margin: 27px auto;
  display: grid;
  align-items: center;
}

/* Start Game Area */

.start-game-area {
  background-color: var(--clr-game-canvas);
  opacity: 0.97;
  height: 490px;
  width: 700px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}

.start-main-text {
  margin-top: 65px;
  text-align: center;
}

.start-title-text {
  text-align: center;
  margin-top: 20px;
}

.start-title-text p {
  font-weight: bold;
}

.start-input-name {
  text-align: center;
  margin-top: 30px;
}

.start-input-name input {
  width: 50%;
  height: 33px;
  background-color: #faf9f6;
  color: black;
  border-radius: 5px;
}

.start-game-area-btn {
  margin-top: 70px;
  text-align: center;
}

.error-text {
  position: absolute;
  font-size: 14px;
  top: 62%;
  left: 28.5%;
}

/* Difficulty Game Area */

.difficulty-game-area {
  background-color: var(--clr-game-canvas);
  opacity: 0.97;
  height: 490px;
  width: 700px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}

.difficulty-title-text {
  text-align: center;
  margin-top: 20px;
}

.difficulty-title-text p {
  font-weight: bold;
}

.difficulty-main-text {
  margin-top: 10px;
  padding: 30px;
  text-align: center;
}

.difficulty-btn {
  display: grid;
}

.difficulty-btn button {
  margin: 10px auto;
}

/* Question Game Area */

.question-game-area {
  background-color: var(--clr-game-canvas);
  opacity: 0.97;
  height: 490px;
  width: 700px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}

.question-main-text {
  margin-top: 20px;
  text-align: center;
  padding: 0px 30px 30px 30px;
}

.answer-buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.answer-buttons button {
  margin: 0px 80px 30px 80px;
  padding: 5px;
}

.answer-buttons button:hover {
  cursor: pointer;
  outline: 2px solid white;
}

.next-question {
  position: absolute;
  left: 47%;
  top: 55%;
}

.next-question button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.correct {
  background-color: rgb(12, 114, 12);
}

.wrong {
  background-color: rgb(143, 22, 22);
}

/* Lights Section */

.lights-bar {
  display: flex;
  position: absolute;
  bottom: 4%;
  gap: 40px;
  left: 6%;
  margin: 0 auto;
  justify-content: space-evenly;
}

.answer-light {
  filter: grayscale(100%);
}

#mercury img {
  width: 40px;
  height: 40px;
}

#venus img {
  width: 40px;
  height: 40px;
}

#earth img {
  width: 44px;
  height: 40px;
}

#mars img {
  width: 47px;
  height: 40px;
}

#jupiter img {
  width: 40px;
  height: 40px;
}

#saturn img {
  width: 40px;
  height: 40px;
}

#uranus img {
  width: 40px;
  height: 40px;
}

#neptune img {
  width: 40px;
  height: 40px;
}

/* Rules Game Area */

.rules-game-area {
  background-color: var(--clr-game-canvas);
  opacity: 0.97;
  height: 490px;
  width: 700px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}

.rules-title-text {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
}

.rules-title-text p {
  font-weight: bold;
}

.rules-text p {
  font-size: 15px;
  margin: 15px 35px 0px 35px;
}

.rules-planet-1 {
  width: 27px;
  height: 27px;
  position: absolute;
  left: 360px;
  top: 236px;
}

.rules-planet-2 {
  width: 27px;
  height: 27px;
  position: absolute;
  filter: grayscale(100%);
  top: 257px;
}

.rules-next-question {
  border-radius: 50%;
  width: 26px;
  height: 26px;
}

.rules-text-responsive {
  display: none;
}

/* Hiscores Game Area */

.hiscores-game-area {
  background-color: var(--clr-game-canvas);
  opacity: 0.97;
  height: 490px;
  width: 700px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}

.hiscores-title-text {
  text-align: center;
  margin-top: 20px;
}

.hiscores-title-text p {
  font-weight: bold;
}

.clear-hiscores-btn button {
  position: absolute;
  top: 70%;
  left: 38%;
}

.hiscores-list {
  position: absolute;
  left: 275px;
  top: 185px;
}

.hiscores-list li {
  margin-top: 10px;
  list-style-type: none;
  line-height: 29px;
}

.hiscores-main-text {
  position: absolute;
  top: 130px;
  left: 130px;
}

.ribbon-1 {
  position: absolute;
  top: 197px;
  left: 230px;
}

.ribbon-2 {
  position: absolute;
  top: 234px;
  left: 230px;
}

.ribbon-3 {
  position: absolute;
  top: 272px;
  left: 230px;
}

.ribbon-1 img {
  width: 25px;
  height: 25px;
}

.ribbon-2 img {
  width: 25px;
  height: 25px;
}

.ribbon-3 img {
  width: 25px;
  height: 25px;
}

/* Contact Game Area */

.contact-game-area {
  background-color: var(--clr-game-canvas);
  opacity: 0.97;
  height: 490px;
  width: 700px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}

.contact-title-text {
  text-align: center;
  margin-top: 20px;
}

.contact-title-text p {
  font-weight: bold;
}

.contact-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-form {
  width: 640px;
  text-align: center;
  margin-top: 20px;
}

.input, textarea {
  width: 400px;
  margin: 10px;
  color: black;
}

.contact-form button {
  position: absolute;
  left: 265px;
  bottom: 50px;
}


/* Results Game Area */

.results-game-area {
  background-color: var(--clr-game-canvas);
  opacity: 0.97;
  height: 490px;
  width: 700px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}

.results-page {
  text-align: center;
}

.results-title-text {
  margin-top: 20px;
}

.results-title-text p {
  font-weight: bold;
}

.results-main-text {
  margin-top: 60px;
  padding-left: 70px;
  padding-right: 70px;
}

#result-score {
  font-size: 25px;
  font-weight: bold;
}

.results-page i {
  color: gold;
  margin-right: 6px;
  font-size: 25px;
  margin-top: 30px;
}

.results-page button {
  position: absolute;
  top: 63%;
  left: 37.5%;
}

/* Media Queries */

@media screen and (max-width: 700px) {
  button {
    height: 40px;
    font-size: 14px;
  }

  * {
    font-size: 14px;
  }

  .start-game-area {
    height: 500px;
    width: 310px;
  }

  .start-main-text {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .start-input-name {
    margin-top: 50px;
  }

  .start-input-name input {
    width: 70%;
  }

  .error-text {
    left: 8%;
    text-align: center;
    font-size: 12px;
  }

  .game-bar {
    width: 310px;
  }

  .home-icon-logo i {
    font-size: 24px;
  }

  .audio-icon-logo {
    left: 20%;
    top: 4.3%;
  }

  .sound-on i {
    font-size: 22px;
  }

  .sound-off i {
    font-size: 22px;
  }

  #timer {
    right: 43%;
    font-size: 17px;
  }

  .timer-icon {
    right: 48%;
    top: 3.5%;
  }

  .timer-icon i {
    font-size: 20px;
  }

  .question-score {
    font-size: 17px;
    right: 29%;
  }

  .trophy-icon {
    right: 21%;
    top: 4.5%;
  }

  .trophy-icon i {
    font-size: 18px;
  }

  .hamburger {
    width: 27px;
    right: 6%;
  }

  .hamburger-line {
    height: 3px;
    margin-top: 4px;
  }

  .cross {
    right: 5%;
  }

  .cross:before,
  .cross:after {
    height: 27px;
  }

  .menu {
    height: 410px;
    width: 310px;
  }

  .menu button:nth-child(1) {
    margin-top: 60px;
  }

  .difficulty-game-area {
    height: 500px;
    width: 310px;
  }

  .question-game-area {
    height: 500px;
    width: 310px;
  }

  .lights-bar {
    display: none;
  }

  .answer-buttons {
    display: grid;
    grid-template-columns: repeat(1, auto);
    top: 57%;
  }

  .answer-buttons button {
    margin: 2px;
  }

  .next-question {
    left: 44%;
    top: 85%;
  }

  .rules-game-area {
    height: 500px;
    width: 310px;
  }

  .rules-text {
    display: none;
  }

  .rules-text-responsive {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
  }

  .rules-text-responsive p {
    margin-top: 20px;
  }

  .hiscores-game-area {
    height: 500px;
    width: 310px;
  }

  .hiscores-title-text {
    text-align: center;
    margin-top: 20px;
  }

  .hiscores-title-text p {
    font-weight: bold;
  }

  .clear-hiscores-btn button {
    position: absolute;
    top: 76%;
    left: 23%;
  }

  .hiscores-list {
    left: 75px;
    top: 205px;
  }

  .hiscores-list li {
    margin-top: 10px;
    line-height: 29px;
  }

  .hiscores-main-text {
    top: 130px;
    left: 0px;
    text-align: center;
  }

  .ribbon-1 {
    top: 217px;
    left: 30px;
  }

  .ribbon-2 {
    top: 254px;
    left: 30px;
  }

  .ribbon-3 {
    top: 292px;
    left: 30px;
  }

  .contact-game-area {
    height: 500px;
    width: 310px;
  }
  
  .input, textarea {
    width: 200px;
  }
  
  .contact-form button {
    left: 70px;
    bottom: 90px;
  }

  .results-game-area {
    height: 500px;
    width: 310px;
  }

  .results-main-text {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
  }

  .results-page button {
    left: 23%;
  }
}
